$color-green: #1F8B48;
$color-green-transparent: #1f8b4800;
$color-white: #FFFFFF;
$color-black: #2E2D2B;
$color-red: rgb(255, 55, 55);
$body-radius: 24px;
$body-radius-mobile: 16px;
$body-margin: 96px auto 0px auto;
$body-margin-mobile: 64px 10px 0 10px;
$arrow-radius: 50px;
$body-width-desktop: 80%;
$body-width-mobile: 100%;